<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3</key>
	<string>#007F63</string>
	<key>4</key>
	<string>#A9CC0E</string>
	<key>5</key>
	<string>#15497F</string>
	<key>6</key>
	<string>#5A6921</string>
	<key>7</key>
	<string>#C9071D</string>
	<key>8</key>
	<string>#FD6B4A</string>
	<key>9</key>
	<string>#F27326</string>
	<key>11</key>
	<string>#1D8161F</string>
	<key>14</key>
	<string>#A8A9AD</string>
	<key>15</key>
	<string>#F78E1E</string>
	<key>16</key>
	<string>#192F85</string>
	<key>18</key>
	<string>#9ACA3B</string>
	<key>19</key>
	<string>#FBB35A</string>
	<key>21</key>
	<string>#B41929</string>
	<key>25</key>
	<string>#98C93C</string>
</dict>
</plist>
